<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"><body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Conferma eliminazione utente</h4>
	</div>
	<form th:action="@{/utenti/delete}" method="POST" th:object="${utente}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<table>
		<tr>
				<td><input type="hidden" th:field="*{id}" value="*{id}" readonly/></td>
				<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></td>
			</tr>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" value="*{nome}" readonly/></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" value="*{cognome}" readonly/></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td><button type="submit">Conferma eliminazione</button></td>
			</tr>
		</table>
	</form>
<div lang="en" th:replace="fragments/footer :: footer"></div></body>
</html>