<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Registra un nuovo utente</h1>
<form id = "registerUserForm"
      th:action="@{/utenti/register}"
      method="POST">

    <table>
        <tr>
            <td><label for="usernameInput">Username</label>
            <td><input id=usernameInput type="text" th:field="${credentialsForm.username}" placeholder="USERNAME" required/></td>
            <td th:if="${#fields.hasErrors('credentialsForm.username')}" th:errors="${credentialsForm.username}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="passwordInput">Password</label></td>
            <td><input id="passwordInput" type="password" th:field="${credentialsForm.password}" placeholder="PASSWORD"/></td>
            <td th:if="${#fields.hasErrors('credentialsForm.password')}" th:errors="${credentialsForm.password}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="nomeInput">First Name</label></td>
            <td><input id="nomeInput" type="text" th:field="${userForm.nome}" placeholder="FIRST NAME"/></td>
            <td th:if="${#fields.hasErrors('userForm.nome')}" th:errors="${userForm.nome}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="cognomeInput">Last Name</label></td>
            <td><input id="cognomeInput" type="text" th:field="${userForm.cognome}" placeholder="LAST NAME"/></td>
            <td th:if="${#fields.hasErrors('userForm.cognome')}" th:errors="${userForm.cognome}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>