<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.updateUtente})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Aggiorna i dati di un utente</h4>
	</div>
	<form th:action="@{/utente}" method="POST" th:object="${utente}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" value="*{nome}"/></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" value="*{cognome}"/></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>