<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
<body>
	<h1>Il tuo profilo</h1>
	<table>
		<tr>
			<td>Nome</td>
			<td th:text="${utente.nome}">...</td>
		</tr>
		<tr>
			<td>Cognome</td>
			<td th:text="${utente.cognome}">...</td>
		</tr>
		<tr>
			<td>Registered at:</td>
			<td th:text="${utente.creazione}">...</td>
		</tr>
		<tr>
			<td>Last Update at:</td>
			<td th:text="${utente.modifica}">...</td>
		</tr>
		<tr>
			<td><a th:href="@{'/utenti/update/' + ${utente.id}}">Modifica</a></td>
		</tr>
		<tr>
			<td><a th:href="@{'/utenti/delete/' + ${utente.id}}">Elimina</a></td>
		</tr>
	</table>
	<div>
		<a href="/progetti">Progetti</a>
	</div>
</body>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</html>