<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
</head>
<body>
	<div class="card">

		<div class="card-header">
			<div class="row">
				<div class="col-4"></div>
				<div class="col-1">
					<img width="60" height="60"
						src="https://image.flaticon.com/icons/svg/2170/2170153.svg"
						class="loaded" style="margin-left: 65%">
				</div>
				<div class="col-3">
					<b><h1 class="display-4">Registrati</h1></b>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">

				<div class="col-4"></div>

				<div class="col-4">
					<form id="registerUserForm" th:action="@{/utenti/register}"
						method="POST">
						<div class="card">
							<div class="card-header">Compila i dati per registrarti</div>

							<div class="card-body">

								<!--  NOME -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Nome:</span>
									</div>
									<input type="text" id="data-progetto" class="form-control"
										placeholder="Nome" aria-label="Username"
										aria-describedby="basic-addon1" name="username" th:field="${userForm.nome}">
								</div>

								<!-- PASSWORD -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Cognome:</span>
									</div>
									<input type="text" id="data-progetto" class="form-control"
										placeholder="Cognome" aria-label="Username"
										aria-describedby="basic-addon1" name="password" th:field="${userForm.cognome}">
								</div>
								
																<!--  NOME -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Username:</span>
									</div>
									<input type="text" id="data-progetto" class="form-control"
										placeholder="Nome" aria-label="Username"
										aria-describedby="basic-addon1" name="username" th:field="${credentialsForm.username}">
								</div>

								<!-- PASSWORD -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Password:</span>
									</div>
									<input type="password" id="data-progetto" class="form-control"
										placeholder="Password" aria-label="Username"
										aria-describedby="basic-addon1" name="password" th:field="${credentialsForm.password}">
								</div>

							</div>


							<div class="card-footer">
								<button type="submit" class="btn btn-success"
									style="float: right">Registrati</button>

								<a href="/login">
									<button type="button" class="btn btn-info"
										style="float: right; margin-right: 2%">Annulla</button>
								</a>

							</div>
						</div>
					</form>
				</div>

			</div>
		</div>


	</div>
</html>
