<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
</head>
<body>
	<div class="card">

		<div class="card-header">
			<div class="row">
				<div class="col-4">
					
				</div>
				<div class="col-1">
					<img width="60" height="60"
						src="https://image.flaticon.com/icons/svg/2970/2970785.svg"
						class="loaded" style="margin-left:65%">
				</div>
				<div class="col-6">
					<b><h1 class="display-4">Modifica dati</span></h1></b>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				
				<div class="col-4">
				
				</div>
				
				<div class="col-4">
					<form th:action="@{/utenti/update}" method="POST" th:object="${utente}">
					<input type="hidden" th:field="*{id}" value="*{id}"/>
					<div class="card">
						<div class="card-header">
    						Inserisci i dati per il login
 				 		</div>
 				 		
						<div class="card-body">
						
						<!--  NOME -->
						<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nome:</span>
								</div>
						<input type="text" id="data-progetto" class="form-control" placeholder="Nome"
								aria-label="Username" aria-describedby="basic-addon1" th:field="*{nome}" value="*{nome}">
						</div>
						
						<!-- PASSWORD -->
						<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Cognome:</span>
								</div>
						<input type="text" id="data-progetto" class="form-control" placeholder="Password"
								aria-label="Username" aria-describedby="basic-addon1" th:field="*{cognome}" value="*{cognome}">
						</div>
						
						<!-- RUOLO -->
						<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Ruolo:</span>
								</div>
						<input type="text" id="data-progetto" class="form-control" th:value="${credenziali.role}"
								aria-label="Username" aria-describedby="basic-addon1"  readonly>
						
						<input type="hidden" th:value="${credenziali.id}" name="id_credenziali">
						</div>
						 
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-success" style="float:right">Salva</button>
							<button class="btn btn-info" style="float:right; margin-right:2%">Annulla</button>
						</div>
					</div>
					</form>		
				</div>
			
			</div>
		</div>
	
	
	</div>


</html>