<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
</head>
<body>
	<div class="card">

		<div class="card-header">
			<div class="row">
				<div class="col-1">
					<img width="100" height="100"
						src="https://image.flaticon.com/icons/png/512/2206/2206368.png"
						class="loaded">
				</div>
				<div class="col-9">
					<b><h1 class="display-4">Lista Utenti</h1></b>
				</div>
				<div class="col-2">
					
				</div>
			</div>
		</div>
		
		<div class="card-body">
		<a href="/utente/me">
		<button class="btn btn-primary" style="float:left"> < INDIETRO </button>
		</a>
		
			<table class="table table-hover" style="margin-top: 3%">
				<thead style="background-color: #c4002b; color: white">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Cognome</th>
						<th scope="col">Azioni</th>
					</tr>
				</thead>
				<tbody th:with="count=0">
					
					<tr  th:each="utentedb: ${utenti}">
						<td th:text="${utentedb.nome}" />
						<td th:text="${utentedb.cognome}"/>
						<td>
						
						<!-- MODIFICA  -->
						<a  th:href="@{'/utenti/update/' + ${utentedb.id}}">	
						<img width="30" height="30" src="https://image.flaticon.com/icons/png/512/1160/1160515.png" style="cursor:pointer" 
						data-placement="top" title="Modifica Progetto" class="loaded">
						</a>
						
						<!-- ELIMINA PROGETTO -->
						<a th:href="@{utenti/delete/{id}(id=${utentedb.id})}">
						<img width="30" height="30" src="https://image.flaticon.com/icons/svg/1828/1828843.svg" style="cursor:pointer" 
						title="Elimina progetto" class="loaded">
						</a>
						
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>


</html>
